
<div class="registration-container">
    <h2>Staff Registration</h2>
    <form [formGroup]="staffData" (ngSubmit)="registerStaff()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" formControlName="name" required>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="contactNumber">Contact Number</label>
        <input type="tel" id="contactNumber" name="contactNumber" formControlName="contactNumber" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
