<div class="login-container">
    <div class="login-box">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" formControlName="username" placeholder="Username" />
          <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
            Username is required.
          </div>
        </div>
        <div class="form-group">
          <input type="password" formControlName="password" placeholder="Password" />
          <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
            Password is required.
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
        <div class="error-message" *ngIf="loginError">{{ loginError }}</div>
      </form>
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
      <div class="register-buttons">
        <button routerLink="/registerHod">Register as HOD</button>
        <button routerLink="/registerStaff">Register as Staff</button>
      </div>
    </div>
</div>
    

    